body {
  font-family: "Crimson Text", serif;
}

:root {
  --drak-grey: #f59e0b;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 60vw; */
}

.heading {
  color: var(--drak-grey);
  margin-bottom: 0px;
  /* background-color: var(--drak-grey); */
}

.paragraph {
  font-size: larger;
}

.label {
  font-size: large;
  margin-bottom: 0.5rem;
}

.input {
  border: 2px var(--drak-grey) solid;
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.button {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--drak-grey);
}

/* th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  margin: 0px;
} */

table {
  text-align: left;
  width: 500px;
  font-size: larger;
}
th {
  text-align: left;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

/* .error-message {
  display: none;
} */
